.list {
  box-sizing: border-box;
  background-color: cornsilk;
  width: 50%;
  padding: 0.5rem;  
  margin: 1rem;
  border: #898989;
} 
.list:hover {
    box-shadow: 0px 0px 15px rgba(137, 137, 137, 0.7); 
}
.zibi:hover { 
    color: yellow;
    font-size: 2rem;
    background-color: blue;
}




